.card {
  width: 300px;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;

  & img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .favorite {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    .svg_icon {
      width: 100%;
      height: 100%;
    }
  }
}

.card_table {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px 0;

  h5 {
    width: 50%;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .favorite {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;

    .svg_icon {
      width: 100%;
      height: 100%;
    }
  }
}
