.order {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__label {
    font-size: 20px;
    font-weight: bold;
  }

  &__input {
    max-width: 300px;
    width: 100%;
    padding: 5px 10px;
  }

  &__err {
    font-size: 12px;
    color: red;
    font-weight: bold;
    margin: 3px 0;
  }

  &__btn {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(38, 146, 38);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(38, 146, 38);
    margin-top: 15px;
    transition: 0.7s;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
