.visit_container {
  text-align: center;
  justify-content: center;
  margin-top: 185px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 3rem;
  padding: 4rem;
  height: 500px;
}

.visit_container_text {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  padding-top: 100px;
  font-family: $font-Montserrat;
}
