.content__visits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.no-visits {
  text-align: center;
  font-family: $font-Montserrat;
  font-weight: bold;
  font-size: 32px;
}

.visit {

  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 330px;
  opacity: 1;
  visibility: visible;
  background-color: #ccbed2;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 10px;
  margin-bottom: 15px;


  .visit__btn-control {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
      border: 2px;
      border-radius: 2px;
      height: 24px;
      width: 100px;
      cursor: pointer;
      font-family: $font-Montserrat;
      font-weight: bold;
      font-size: 16px;
    }

    & .btn-more {
      background-color: #c435d7;

      &.show {
        display: none;
      }
    }

    & .btn-less {
      display: none;

      &.show {
        background-color: #c435d7;
        display: block;
      }
    }


    & .btn-more:hover {
      background-color: $main-color;
    }

    & .btn-less:hover {
      background-color: $main-color;
    }

    & .btn-edit {
      background-color: #d735bc8a;
    }

    & .btn-edit:hover {
      background-color: $main-color;
    }

    & .btn-delete {
      background-color: #c620e752;
    }

    & .btn-delete:hover {
      background-color: $main-color;
    }
  }

  .visit__more-info {

    height: 0;
    opacity: 0;
    visibility: hidden;

    &.show {
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  .visit__name,
  .visit__doctor,
  .visit__purpose,
  .visit__description,
  .visit__urgency,
  .visit__pressure,
  .visit__bmi,
  .visit__heartDisease,
  .visit__age,
  .visit__completed,
  .visit__lastVisit {
    font-family: $font-Montserrat;
    font-weight: bold;
    font-size: 16px;
    padding-top: 7px;
  }

  .name__value,
  .doctor__value,
  .purpose__value,
  .description__value,
  .urgency__value,
  .pressure__value,
  .bmi__value,
  .heartDisease__value,
  .age__value,
  .completed__value,
  .lastVisit__value {
    font-family: $font-Montserrat;
    font-weight: normal;
    font-size: 14px;

  }

  .visit__name {
    font-family: $font-Montserrat;
    font-weight: bold;
  }

  .visit__doctor {
    font-family: $font-Montserrat;
    font-weight: bold;
  }
}