.item {
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px 0;

  &_image {
    width: 150px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  &_name {
    width: 50%;
  }

  &_count {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &_btn {
      width: 30px;
      height: 30px;
      margin: 10px;
      cursor: pointer;

      &:hover {
        box-shadow: 1px 1px 3px rgb(0, 0, 0);
      }
    }
  }

  &_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid red;
    color: red;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      color: #fff;
      background: red;
    }
  }
}
