.container {
  max-width: 1030px;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  margin: 0 auto;
}

.background_milan-holidays {
  background-image: url(../img/background_milan-holidays.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
}

.logo_link {
  display: flex;
  width: 180px;
}

.logo_link:hover .logo_text {
  color: #f26522;
}

.logo_img-white {
  height: 47px;
  width: 53px;
}

.logo_img-orange {
  display: none;
}
.logo_link:hover .logo_img-white{
  display: none;
}
.logo_link:hover .logo_img-orange {
  display: block;
  height: 47px;
  width: 53px;
}

.logo_text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
  height: 47px;
}

.text-milan {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  width: 140px;
  height: 30px;
}

.text-holidays {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  width: 135px;
  height: 21px;
  padding-top: 3px;
}

.header_address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
  height: 21px;
  text-align: right;
}

.header_mail {
  width: 219px;
}

.header_mail:hover {
  color: #f26522;
}

.header_phone {
  width: 146px;
  margin-top: 19px;
}

.header_phone:hover {
  color: #f26522;
}

.mainer {
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 17px;
}

.mainer_title {
  height: 21px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.mainer_bloks {
  height: 261px;
  width: 309px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: relative;
}

.copyright {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  margin-top: 48px;
}
.img_main {
  width: 100%;
  height: 220px;
}

.plaza {
  background-color: #f26522;
  position: absolute;
  left: 0;
  right: 0;
  height: 0px;
  opacity: 0%;
  bottom: 43px;
  overflow: hidden;
  transition: 1s;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: white;
  padding: 7px 16px;
}

.plaza_from {
font-size: 10px;
line-height: 10px;
}

.plaza_price{  
  margin-top: 8px;
font-size: 20px;
line-height: 20px;
}

.plaza_details{
  display: block;
  font-size: 14px;
line-height: 14px;
position: absolute;
right: 37px;
bottom: 12px;
}

.plaza_details::after{
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: 2px;
  right: -16px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);

}

.mainer_bloks:hover .plaza {
  opacity: 1;
  height: 55px;  
}

.mainer_bloks:hover .mainer_title{
  transition: 1s;
  color: #f26522;
}