body {
  text-align: center;
  font-size: 20px;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 40px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location {
  margin: 20px;
  box-shadow: 0 0 5px teal;
}

.location h2 {
  font-size: 24px;
  margin: 10px;
}

.btn {
  width: 100px;
  height: 30px;
  display: flex;
  padding: 4px;
  box-shadow: 0 0 5px rgb(152, 53, 134);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  cursor: pointer;
}
.btn:hover {
  scale: 1.05;
  box-shadow: 0 0 10px blue;
}
.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgb(37, 148, 228);
}
