.order {
  display: flex;
  justify-content: end;
  align-items: center;

  &_sum {
    font-size: 25px;
    margin-right: 25px;
  }

  &_btn {
    text-decoration: none;
    border: 2px solid green;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    background-color: green;

    &:hover {
      opacity: 0.7;
    }
  }
}
