.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .logo {
    width: 92px;
    height: 45px;
    background-image: url('/Logo.png');
  }

  .link {
    color: #807d7e;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
      font-weight: 700;
    }
  }

  .search {
    width: 267px;
    height: 44px;
    padding: 0 20px 0 52px;
    border-radius: 8px;
    background: #f6f6f6;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 20px;
      top: 12px;
      z-index: 2;
      background-image: url('/search.png');
    }

    &_input {
      width: 100%;
      border: none;
      background: #f6f6f6;
      color: #807d7e;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-left: 5px;
      height: 100%;

      &:focus {
        outline: none;
        box-shadow: 0px 1px 0px 0px rgb(223, 214, 214);
      }
    }
  }

  .icons {
    display: flex;
  }

  .icon {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #f6f6f6;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    margin: 0 6px;

    &:hover {
      background: #9f8c8c;
    }

    .count {
      position: absolute;
      width: 10px;
      height: 10px;
      bottom: 2px;
      right: 2px;
      font-size: 12px;
      line-height: 12px;
    }

    .favorite {
      background-image: url('/heart.png');
      width: 20px;
      height: 20px;
    }
    .basket {
      background-image: url('/bag.png');
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }
  }
}
