.products_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

// .products_table {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   gap: 20px;
//   padding: 20px;
//   flex-direction: column;
// }

.toggle {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;

  .svg_icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
