body {
  text-align: center;
  font-size: 20px;
}

body,
html {
  width: 100%;
  height: 100%;
}

.header {
  height: 80px;
  background-color: rgb(58, 202, 183);
  box-shadow: 0 0 5px black;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main__card {
  text-align: left;
  padding: 15px;
  margin: 10px;
  width: 800px;
  background-color: rgb(229, 228, 228);
  border-radius: 20px;
  box-shadow: 0 0 10px teal;
}
.main__card-name {
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: 800;
}
.main__card-email {
  padding-bottom: 5px;
}
.main__card-email a {
  font-size: 17px;
  font-weight: 200;
}
.main__card-title {
  text-align: center;
  padding-bottom: 5px;
  font-weight: 600;
}
.main__card-body {
  padding-bottom: 5px;
}

.btn {
  width: 100px;
  height: 30px;
  display: flex;
  padding: 4px;
  box-shadow: 0 0 5px rgb(37, 228, 37);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}
.btn:hover {
  scale: 1.05;
  box-shadow: 0 0 10px blue;
}
.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgb(37, 228, 37);
}

.btn-icon {
  position: relative;
  margin: 10px 5px 0 0;
  border-radius: 50%;
  transition-duration: 0.3s;
}
.btn-icon:hover {
  box-shadow: 0 0 10px teal;
}
.btn-icon:active {
  transform: translateY(-3px);
  box-shadow: 0 0 10px red;
}

.modal,
.modal-edit {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal-edit.open {
  opacity: 1;
  visibility: visible;
}

.modal__body,
.modal__body-edit {
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.modal__content {
  background-color: #fff;
  color: black;
  min-width: 400px;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  text-align: center;
  position: relative;
}
.modal__content h2 {
  font-size: 24px;
  margin: 10px;
}
.modal__content label {
  display: block;
  margin-bottom: 10px;
}
input[type='text'],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid teal;
  border-radius: 4px;
  margin-bottom: 20px;
  max-width: 740px;
  max-height: 650px;
  white-space: pre-wrap;
}

.modal__btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.main-mosaic-loader {
  --cell-size: 64px;
  --cell-spacing: 1px;
  --border-width: 1px;
  --cells: 4;
  --total-size: calc(
    var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing))
  );
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}
.main-mosaic-loader > .cell {
  --cell-color: white;
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border: var(--border-width) solid var(--cell-color);
  animation: 1.5s ripple ease infinite;
}
.main-mosaic-loader > .cell.d-1 {
  animation-delay: 100ms;
}
.main-mosaic-loader > .cell.d-2 {
  animation-delay: 200ms;
}
.main-mosaic-loader > .cell.d-3 {
  animation-delay: 300ms;
}
.main-mosaic-loader > .cell.d-4 {
  animation-delay: 400ms;
}
.main-mosaic-loader > .cell.d-5 {
  animation-delay: 500ms;
}
.main-mosaic-loader > .cell.d-6 {
  animation-delay: 600ms;
}
.main-mosaic-loader > .cell:nth-child(1) {
  --cell-color: #d4aee0;
}
.main-mosaic-loader > .cell:nth-child(2) {
  --cell-color: #8975b4;
}
.main-mosaic-loader > .cell:nth-child(3) {
  --cell-color: #64518a;
}
.main-mosaic-loader > .cell:nth-child(4) {
  --cell-color: #565190;
}
.main-mosaic-loader > .cell:nth-child(5) {
  --cell-color: #44abac;
}
.main-mosaic-loader > .cell:nth-child(6) {
  --cell-color: #2ca7d8;
}
.main-mosaic-loader > .cell:nth-child(7) {
  --cell-color: #1482ce;
}
.main-mosaic-loader > .cell:nth-child(8) {
  --cell-color: #05597c;
}
.main-mosaic-loader > .cell:nth-child(9) {
  --cell-color: #8c2c93;
}
.mosaic-loader > .cell:nth-child(10) {
  --cell-color: #57c443;
}
.main-mosaic-loader > .cell:nth-child(11) {
  --cell-color: #05b853;
}
.main-mosaic-loader > .cell:nth-child(12) {
  --cell-color: #19962e;
}
.main-mosaic-loader > .cell:nth-child(13) {
  --cell-color: #a4c018;
}
.main-mosaic-loader > .cell:nth-child(14) {
  --cell-color: #a31313;
}
.main-mosaic-loader > .cell:nth-child(15) {
  --cell-color: #d5385a;
}
.main-mosaic-loader > .cell:nth-child(16) {
  --cell-color: #911750;
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
