body.dark {
    background-color: rgb(24, 5, 48);
}
 
body.dark .logo_link{
    color: white;
}
body.dark .left_menu {
    background-color: #35444f;
    border: 1px solid white;
}

body.dark .left_menu_link {
    color: white;
}

body.dark .left_menu_link:hover {
    background-color: #222f3a;;
}

body.dark .content_block_img {
    background-color: white;
}

body.dark .text {
    color: white;
}

body.dark .footer_menu {
    background-color: #35444f;
}

body.dark .bottom_menu_link{
    color: white;
}

body.dark .bottom_menu_link:hover {
  border-bottom: 1px solid white;
}

body.dark .copyright {
    color: white;
}

