.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

.logo {
  display: inline-block;
  font-family: "Roboto";
  line-height: 94px;
  font-size: 80px;
  font-weight: 400;
  }
.logo_link {
  color: black;
}

.logo_color {
  color: #4bcaff;
}

:root {
  --light:#ffffff;;
  --dark:#35444f;
 }

 .toggle-switch {
  position: relative;
  width: 200px;
}

label {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(95px);
  background-color: var(--dark);
  box-shadow: none;
}


.menu {
  display: flex;
  justify-content: center;
  background-color: #35444f;
  margin-top: 38px;
}
.menu_link {
  display: block;
  border-left: 1px solid #ffffff;
  color: white;
  font-family: "Roboto";
  font-size: 24px;
  padding: 26px 38px 19px;
}
.last {
  border-right: 1px solid #ffffff;
}
.menu_link:hover {
  background-color: #222f3a;
}

.mainer {
  display: flex;
  justify-content: space-between;
}
.content_block_left {
  margin-top: 48px;
}

.left_menu {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 344px;
}

.left_menu_link {
  display: block;
  color: #485863;
  font-family: "Roboto";
  font-size: 27px;
  line-height: 80px;
  padding-left: 44px;
}
.left_menu_link:hover {
  background: #dbdbdb;
  color: #000000;
  padding-left: 70px;
}

.content_block_right {
  margin-top: 48px;
}

.content_block_img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  max-width: 885px;
  width: 100%;
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  transition: transform 0.25s;
}

.img_aries:hover img {
  transform: scale(1.1);
}

.text {
  max-width: 885px;
  margin-top: 37px;
  margin-bottom: 34px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
  background-color: #63696e7a;
  margin-bottom: 30px;
  height: 78px;
}

.bottom_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  width: 100%;
  padding: 0 135px 0 40px;
}

.bottom_menu_link {
  display: block;
  color: #0c1927;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 60px;
  border-bottom: 1px solid transparent;
}

.bottom_menu_link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
.copyright {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #010101;
  margin-right: 40px;
}
