.container {
  max-width: 1366px;
  width: 100%;
  height: 100vh;
  padding: 18px 79px;
  margin: 0 auto;
}

body,
a,
input {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.background_Sign-up-form {
  background-image: url(../img/fond.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.header_logo_menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  width: 157px;
  height: 22px;
}

.logo:hover {
  color: #3cb878;
  cursor: pointer;
}

.header_menu {
  display: flex;
  align-items: center;
}

.header_menu_list {
  margin-right: 26px;
  position: relative;
}

.header_menu_welcome {
  margin-left: 53px;
}

.header_menu_login:hover {
  color: #3cb878;
  cursor: pointer;
}

.header_menu_sign-up:hover {
  color: #3cb878;
  cursor: pointer;
}

.header_menu_list:last-child::before {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 11px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.icon_link:hover .icon {
  fill: #3cb878;
  cursor: pointer;
}

.mainer {
  width: 100%;
  min-height: 712px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainer_signup {
  width: 444px;
  min-height: 584px;
  padding: 38px 60px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgb(0 0 0 / 52%);
  position: relative;
}

.mainer_signup::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  background: #3cb878;
}

.signup_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.signup_title_logo {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.signup_title_login {
  color: #3cb878;
  cursor: pointer;
}

.signup_title_login:hover {
  text-decoration: underline;
  color: #01813F;
}

.signup_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
  gap: 4px;
}

.signup_social_btn {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  width: 160px;
  height: 48px;
  padding: 12px 11px;
  border-radius: 4px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.facebook {
  background: #305db8;
}

.facebook:hover {
  background: #022263;
}

.google {
  background: #df4a32;
}

.google:hover {
  background: #AB1F09;
}

.signup_social_btn_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.2;
}

.signup_social_btn_img::after {
  content: "";
  width: 1px;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.1;
  background: #0a162f;
}

.signup_social_btn_title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.signup_or {
  color: #848484;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.signup_or::before, .signup_or::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background: #f2f2f2;
}


.signup_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.signup_form_field {
  font-size: 14px;
  color: #434343;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 15px 19px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-bottom: 16px;
  cursor: text;
}

.signup_form_field:focus {
  box-shadow: 0px 3px 8px rgb(0 0 0 / 21%);
}

.signup_form_field_checkbox {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.signup_form_checkbox[type="checkbox"] {
  display: none;
}

.signup_form_field_title::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #f2f2f2;
  left: 0px;
  top: -2px;
  cursor: pointer;
}

.signup_form_checkbox:checked ~ .signup_form_field_title::after {
  content: "";
  width: 15px;
  height: 10px;
  border-bottom: 2px solid #3CB878;
  border-left: 2px solid #3CB878;
  position: absolute;
  top: 0px;
  left: 3px;
  transform: rotateZ(-45deg);
  cursor: pointer;
}

.signup_form_field_title {
  color: #434343;
  margin-left: 31px;
}

.signup_form_field_link {
  color: #3cb878;
  cursor: pointer;
}

.signup_form_field_link:hover {
  text-decoration: underline;
  color: #01813F;
}

.signup_form_button {
  background: rgba(60, 184, 120, 0.8);
  text-align: center;
  border-radius: 4px;
  width: 100%;
  padding: 16px 99px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: 0.4s;
}

.signup_form_button:hover {
  background-color: #01813F;
}
