.card {
  width: 300px;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;

  & img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
.favorite {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  .svg_icon {
    width: 100%;
    height: 100%;
  }
}
