* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1280px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.menu-navigation {
  height: 15px;
  text-align: center;
  padding: 30px 0;
}

.list {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-family: "Montserrat";
  padding: 0 36px;
}

.phone {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  margin: 48px 253px 0 253px;
  max-width: 774px;
  line-height: 29px;
  letter-spacing: 3.3px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.paragraph {
  margin: 38px 67px 0 67px;
  max-width: 1145px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.1px;
  color: #373737;
  font-family: "Montserrat";
}

.btn-get-started {
  margin: 66px 0 82px 544px;
  background: #ff0000;
  border-radius: 4px;
  border: none;
  padding: 18px 43px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.Copyright {
  margin-left: 713px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat";
  letter-spacing: 2.4px;
  color: #373737;
}
