.container {
  max-width: 1460px;
  height: 100%;
  /* padding: 0 10px; */
  margin: 0 auto;
}
body {
  background-color: #171717;
  color: white;
}

.logo {
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 46px;
}

.logo_button {
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
  background-color: #171717;
}

.logo_button_link {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}
.top_background {
  background-image: url("../img/header-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 82px;
}
.mainer_title {
  display: block;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}
.mainer_prg {
  max-width: 1182px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 41px;
  margin-bottom: 41px;
}

.mainer_top_blocks {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 34px;
  grid-row-gap: 27px;
  margin-bottom: 100px;
}

.top_block {
  font-size: 20px;
  padding: 0.5em;
  text-align: center;
  height: 468px;
  font-weight: 700;
  display: grid;
  justify-content: center;
  align-content: center;
}
.top_block_1 {
  background-color: #634f2c;
  grid-area: 1 / 1 / 3 / 3;
}
.top_block_2 {
  background-color: #b4a385;
  grid-area: 1 / 3 / 3 / 5;
}
.top_block_3 {
  background-color: #e4b564;
  grid-area: 1 / 5 / 3 / 7;
}
.top_block_4 {
  background-color: #635a4a;
  grid-area: 3 / 1 / 5 / 4;
}
.top_block_5 {
  background-color: #b08c4d;
  grid-area: 3 / 4 / 5 / 7;
}
.center_background {
  background-image: url("../img/parallax-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
}

.mainer_bottom_blocks {
  display: flex;
  justify-content: space-between;
  height: 1088px;
  margin-top: 94px;
  padding-bottom: 191px;
}
.bottom_block {
  padding: 45px 50px;
}
.bottom_blocks_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 467px;
  width: 100%;
}

.bt_block_1 {
  background-color: #0e0e0e;
  height: 313px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.bt_block_2 {
  background-color: #1f1f1f;
  height: 560px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.bottom_blocks_center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 467px;
  width: 100%;
}
.bt_block_3 {
  background-color: #242424;
  height: 439px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 33px;
}
.bt_block_4 {
  background-color: #e4b564;
  height: 405px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.bottom_blocks_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 467px;
  width: 100%;
}
.bt_block_5 {
  background-color: #1f1f1f;
  height: 255px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.bt_block_6 {
  background-color: #0e0e0e;
  height: 313px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.bt_block_7 {
  background-color: #0a0909;
  height: 277px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.footer_list {
  max-width: 486px;
  width: 100%;
  height: 391px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.footer_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 238px;
}
.list_1 {
  background-color: #634f2c;
}
.list_2 {
  background-color: #e8d2abc2;
}
.list_3 {
  background-color: #e4b564;
}
.list_4 {
  background-color: #635a4a;
}
.list_5 {
  background-color: #b08c4d;
}
.list_6 {
  background-color: #634f2c;
}

.address {
  display: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-top: 10px;
}
.footer_list:hover .address {
  display: block;
}
